@using System.Web.UI.HtmlControls
@using MovieShopDLL.Entities
@model MovieShopWepApp.Models.AdminViewModel
@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" href="~/Styles/AdminMainView.css" type="text/css"/>
    
</head>

<h2>Admin</h2>
<table style="width: 100%" id="mainTable">
    <td valign="top" style="width: 33%">
        <table class="table table-striped table-hover table-bordered" >
            <thead>
            <tr>
                <th>Id</th>
                <th>Customer title</th>
            </tr>
            </thead>
            <tbody style="overflow: scroll;">
            <tr class="clickable warning dropdown-deliverable" data-for="#details_1">
                @foreach (var customer in @Model.Customers)
                {
                    <tr>
                        <td>@customer.Id</td>
                        <td>@customer.FirstName @customer.LastName</td>
                    </tr>
                }
                @foreach (var customer in @Model.Customers)
                {
                    <tr>
                        <td>@customer.Id</td>
                        <td>@customer.FirstName @customer.LastName</td>
                        <td>
                            @Html.ActionLink("Add", "Create", "Movies")
                        </td>
                    </tr>
                }
                
            </tr>
               
            </tbody>
        </table>
    </td>

    <td valign="top" style="width: 33%">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Customer title</th>
            </tr>
            </thead>
            <tbody style="overflow: scroll;">
            <tr class="clickable warning dropdown-deliverable" data-for="#details_1">
                @foreach (var customer in @Model.Customers)
                {
                    <tr>
                        <td>@customer.Id</td>
                        <td>@customer.FirstName @customer.LastName</td>
                    </tr>
                }

            </tr>
            </tbody>
        </table>
    </td>
    <td valign="top" style="width: 33%">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Customer title</th>
            </tr>
            </thead>
            <tbody style="overflow: scroll;">
            <tr class="clickable warning dropdown-deliverable" data-for="#details_1">
                @foreach (var customer in @Model.Customers)
                {
                    <tr>
                        <td>@customer.Id</td>
                        <td>@customer.FirstName @customer.LastName</td>
                    </tr>
                }
            </tr>
            </tbody>
        </table>
    </td>


</table>
