@using MovieShopDLL.Entities
@model MovieShopWepApp.Models.AdminViewModel
@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" href="~/Styles/AdminMainView.css" type="text/css"/>
    
</head>

<h2>Admin</h2>
<table style="width: 100%" id="mainTable">
    <td valign="top" style="width: 33%">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>Customer Id</th>
                <th>Customer name</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody style="overflow: scroll;">
            <tr class="clickable warning dropdown-deliverable" data-for="#details_1">
                @foreach (var customer in @Model.Customers)
                {
                    <tr>
                        <td>@customer.Id</td>
                        <td>@customer.FirstName @customer.LastName</td>
                        <td style="width: 10px">
                            <a class="btn btn-primary btn-xs" href="~/Customer/Edit/@customer.Id"> <span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                        <td style="width: 10px">
                            <a class="btn btn-danger btn-xs" href="~/Customer/Delete/@customer.Id"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                }

            </tr>

            </tbody>
        </table>
        <a class="btn btn-primary btn-xs" href="~/Customer/Create">Create</a>
    </td>

    <td valign="top" style="width: 33%">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>Movie Id</th>
                <th>Movie title</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody style="overflow: scroll;">
                <tr class="clickable warning dropdown-deliverable" data-for="#details_1">
                    @foreach (var movie in @Model.Movies)
                    {
                    <tr>
                        <td>@movie.Id</td>
                        <td>@movie.Title</td>
                        <td style="width: 10px">
                            <a class="btn btn-primary btn-xs" href="~/Movie/Edit/@movie.Id"> <span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                        <td style="width: 10px">
                            <a class="btn btn-danger btn-xs" href="~/Movie/Delete/@movie.Id"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                    }

            </tr>
            </tbody>
        </table>
    </td>
    <td valign="top" style="width: 33%">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>Order Id</th>
                <th>Customer Id</th>
                <th>Movie Id</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody style="overflow: scroll;">
                <tr class="clickable warning dropdown-deliverable" data-for="#details_1">
                    @foreach (var order in @Model.Orders)
                    {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.Customer.Id</td>
                        <td>@order.Movie.Id</td>
                        <td style="width: 10px">
                            <a class="btn btn-primary btn-xs" href="~/Order/Edit/@order.Id"> <span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                        <td style="width: 10px">
                            <a class="btn btn-danger btn-xs" href="~/Order/Delete/@order.Id"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                    }
            </tr>
            </tbody>
        </table>
    </td>


</table>
