@using MovieShopDLL.Entities
@using MovieShopWepApp.Models
@model MovieShopWepApp.Models.UserViewModel

@{
    ViewBag.data = "Index";
}
<head>
    <link href="/Styles/UserIndexView.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"> </script>
</head>




<body>

    <h2>Movies</h2>

<div id="Menu" class="nav-side-menu">
    <div class="brand">Menu</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard fa-lg"></i> Sortering
                </a>
            </li>

            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                <a href="#"><i class="fa fa-gift fa-lg"></i> Genres <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                @foreach (Genre genre in @Model.Genres)
                {
                    <li class="active"><a href="~/User/GetMoviesResult/@genre.Id">@genre.Name</a></li>
                }
                
                @*<li><a href="#">Sci-Fi</a></li>
                <li><a href="#">Drama</a></li>
                <li><a href="#">Comedy</a></li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Adventure</a></li>
                <li><a href="#">Crime</a></li>
                <li><a href="#">Thriller</a></li>
                <li><a href="#">Romance</a></li>*@
            </ul>
            @*<li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <li>New Service 1</li>
                <li>New Service 2</li>
                <li>New Service 3</li>
            </ul>


            <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="new">
                <li>New New 1</li>
                <li>New New 2</li>
                <li>New New 3</li>
            </ul>


            <li>
                <a href="#">
                    <i class="fa fa-user fa-lg"></i> Profile
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-users fa-lg"></i> Users
                </a>
            </li>*@
        </ul>
    </div>
</div>




@Ajax.BeginForm("Index", "User", new AjaxOptions {InsertionMode = InsertionMode.Replace, UpdateTargetId = "movies"}))
{
    <div id="movies" class="row list-group pre-scrollable" style="min-height: 750px; max-height: 750px">


        @Html.Partial("PartialMovieView", ViewData)

    </div>
}
    
</body>



