@model MovieShopDLL.Entities.Movie

@{
    ViewBag.Title = "MovieDetails";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Styles/MovieDetailsStylesheet.css">
</head>
<body>
    <div>
        <table style="width: 500px">
            <thead>Movie Details</thead>
            
            <tr>
                <td class="type">Title:</td>
                <td class="value">@Model.Title</></td>
                <td rowspan="4">
                    <iframe width="400" height="250" src="@Model.MovieUrl" frameborder="0" allowfullscreen></iframe>
                </td>
            </tr> 
            <tr>
                <td class="type">Genre:</td>
                <td class="value">@Model.Genre.Name</td>
            </tr>
            <tr>
                <td class="type">Released:</td>
                <td class="value">@Model.Year</td>
            </tr>
            <tr>
                <td class="type">Price:</td>
                <td class="value">@Model.Price</td>
            </tr>
            <tr>
                <td class="type">Summary:</td>
                <td colspan="2">@Model.Description</td>
            </tr>
            
            
        </table>
    </div>
</body>
